<IfModule mod_headers.c>
<FilesMatch "\.(ico|pdf|jpg|jpeg|png|webp|gif|html|htm|xml|txt|xsl|css)$">
    Header set Cache-Control "max-age=31536050"
</FilesMatch>
</IfModule>

ErrorDocument 404 /error.php
ErrorDocument 500 "<H1>Some error, contact administrator</H1>"

# Upload limits
php_value upload_max_filesize 50M
php_value post_max_size 55M
php_value max_execution_time 120

RewriteEngine On
RewriteBase /

RewriteRule ^/?files/([^/]+)?$ files.php?name=$1 [L,QSA,NC]

RewriteRule ^/?api/([^/]+)?$ api.php?rquest=$1 [L,QSA,NC]
RewriteRule ^/?api/([^/]+)/(.+)?$ api.php?rquest=$2&namespace=$1 [L,QSA,NC]

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/.]+)$ $1.php [L]
